<br />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
<form action="/especialidade" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDesc">Descri&ccedil;&atilde;o</label>
            <input type="text" class="form-control" name="inputDesc" placeholder="Descri&ccedil;&atilde;o da Especialidade" maxlength="100">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
