html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

#fundo {
    background-image: url('../img/fundo.jpg');
    background-attachment: fixed;
    background-size: cover;   
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}
.fa-bank {
    font-size: 42px;
    margin-bottom: 10px;
}
.title {
    color: #ff0000;
    font-size: 64px;
    line-height: 1;
}

.links > a {
    color: #ff0000;
    padding: 0 13px;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}